.navbar{
    font-size: 20px;
    background-color:#f5f0e9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#logo{
    height: 60px;
    width: 150px;
}
#contact
{
    background-color:#404a3d;
}
#heading{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hover-effect:hover{
        background-color: wheat;
}
.contact{
    background-color: #6d8f64;
}
::placeholder{
        font-size: 20px;
}
iframe{
    width: 100%;
}
.footer{
    background-color: #404a3d;
}
.copyright{
    background-color: #394236;
}