.navbar{
    font-size: 20px;
    background-color:#f5f0e9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#logo{
    height: 60px;
    width: 150px;
}
#gallery
{
    background-color:#404a3d;
}
#heading{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.footer{
    background-color: #404a3d;
}
.copyright{
    background-color: #394236;
}